.red-font {
  color: #d61c4e;
}

.purple-font {
  color: $color-primary-dark;
}

.white-font {
  color: $color-white;
}

.text-align-center {
  text-align: center;
}
.font-500 {
  font-weight: 500;
}

.font-biggest {
  font-size: 32px;
}

.font-big {
  font-size: 24px;
}

.font-line-through {
  text-decoration: line-through;
}

.border-bottom-basic {
  border-bottom: solid 1px $color-grey;
}

.flex-basic {
  display: flex;
}

.margin-right-small {
  margin-right: 1rem;
}

.margin-right-medium {
  margin-right: 3rem;
}

.margin-left-small {
  margin-left: 1rem;
}

.margin-left-medium {
  margin-left: 3rem;
}

.margin-bottom-small {
  margin-bottom: 1rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.medium-size-div {
  height: 60rem;
  width: 100%;
}
