$color-primary-light: #7858a6;
$color-primary: #5b4b8a;
$color-primary-2: #4c3575;
$color-primary-dark: #371b58;

$color-black: #000;
$color-grey: #cfd2cf;
$color-grey-light: #eeeeee;
$color-grey-dark: #7f8487;
$color-white: #fff;
$color-beige: #fcf8e8;
$color-peach-light: #f5e8e4;

$color-red: #e64848;
$color-warning: #f65a83;
