.signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  &__title {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    &__options-container {
      margin: 0 auto;
      width: 70%;
      display: flex;
    }
    &__company-name {
      flex: 1;
      font-weight: 500;
    }
  }
  &__content {
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 12rem);
    grid-auto-rows: 6rem;
    gap: 1.5rem;
    justify-items: center;
    @include respond(tab-land) {
      width: 50%;
    }
    @include respond(tab-port) {
      width: 70%;
    }
    @include respond(phone) {
      width: 90%;
    }
    &__caption {
      display: flex;
      flex-direction: column;
      grid-column: 1/-1;
      grid-row: 1 span;
      align-self: center;
      text-align: center;
      a {
        &,
        &:visited,
        &:hover,
        &:active {
          text-decoration: none;
        }
        & {
          color: $color-black;
        }
        &:hover {
          font-weight: 600;
          color: $color-primary-dark;
        }
      }
    }
    .form__group {
      width: 100%;
      display: flex;
      &:not([class$="name"], [class$="submit"], [class$="reset"]) {
        grid-column: 1/-1;
      }
    }
  }
}
