.book-list {
  width: 70%;
  height: 40rem;
  padding: 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  @include respond(phone) {
    width: 80%;
    height: 45rem;
  }

  &__left-button,
  &__right-button {
    background-color: transparent;
    font-size: 5rem;
    color: rgba($color-grey-dark, 0.9);
    border: none;
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }
  &__left-button {
    top: 50%;
    left: 6rem;
    @include respond(phone) {
      left: 3rem;
    }
  }

  &__right-button {
    top: 50%;
    right: 6rem;
    @include respond(phone) {
      right: 3rem;
    }
  }

  &__title {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px $color-grey;
    @include respond(phone) {
      flex-direction: column;
      border-bottom: none;
      align-items: flex-start;
    }
    &--grid-item {
      grid-column: 1 / -1;
      height: 100%;
    }
  }
  &--grid {
    width: 70%;
    height: auto;
    padding: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 7rem 1fr 1fr;
    grid-template-columns: repeat(auto-fit, 29rem);
    justify-content: space-between;
    gap: 3rem;
    overflow: scroll;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: 10rem 1fr 1fr;
    }
  }
  &__gallery {
    height: 80%;
    display: flex;
    align-items: center;
    overflow: scroll;
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0 auto;
      & > * {
        &:not(:last-child) {
          margin-right: 4rem;
        }
      }
    }
  }

  &__grid-unit {
    display: flex;
  }
  &__book-info {
  }

  &__item {
    height: 21rem;
    transition: all 0.2s;
    border-radius: 3px;
    box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.7);
    &:hover {
      transform: scale(1.1);
    }
    @include respond(phone) {
      height: 16rem;
    }
  }
}
