.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  a {
    text-decoration: none;
  }
  &-purple {
    color: $color-white;
    font-weight: 400;
    text-align: center;
    background-color: $color-primary-2;
    padding: 1rem 3rem;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    a {
      color: $color-white;
    }
    &:hover {
      background-color: $color-primary-dark;
      transform: scale(1.05);
    }
    &:disabled {
      background-color: #cccccc;
      color: #666666;
      cursor: auto;
      &:hover {
        transform: none;
      }
    }
  }
  &-tranparent {
    color: $color-black;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    padding: 1rem 3rem;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $color-grey-light;
      transform: scale(1.05);
    }
  }
}

.btn-to-top {
  border-radius: 3px;
  border: none;
  width: 5rem;
  height: 5rem;
  background-color: $color-grey;
  color: $color-black;
  font-size: 3rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  animation: btn-to-top-popup 0.3s;
  cursor: pointer;
}
