.cart {
  width: 50rem;
  padding: 3rem;
  padding-top: 10rem;
  position: fixed;
  top: 8rem;
  right: 1rem;
  z-index: 20;
  background-color: $color-beige;
  transition: all 0.2s;
  clip-path: polygon(
    89% 0,
    92% 10%,
    100% 10%,
    100% 100%,
    0 100%,
    0 10%,
    86% 10%
  );
  @include respond(phone) {
    width: 90%;
    top: 10rem;
    padding: 2rem;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  &__content {
    width: 100%;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  &-item {
    height: 15rem;
    width: 100%;
    display: flex;
    &__content--left {
      flex: 0 0 30%;
      justify-content: center;
      align-items: center;
    }
    &__bookcover {
      height: 12rem;
    }
    &__content--right {
      flex: 1;
      display: flex;
      flex-direction: column;
      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    &__quantity-adjust {
      display: flex;
      width: 100%;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  &__total {
    height: 6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
