.gallery {
  height: 50rem;
  width: 100%;
  background-color: $color-primary-dark;
  position: relative;
  @include respond(phone) {
    height: 30rem;
  }
  &__carousel {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    overflow: hidden;
  }
  &__ul {
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 0.6s;
  }
  &__li {
    background-color: $color-grey;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    flex-shrink: 0;
  }
  &__caption {
    padding: 1rem;
    font-size: 6rem;
    z-index: 1;
    background-color: rgba($color-white, 0.9);
    color: $color-grey-dark;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translateX(-50%);
    @include respond(phone) {
      left: 40%;
      top: 40%;
      font-size: 4rem;
    }
  }
  &__img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  [class$="-button"] {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    color: $color-grey;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__left-button {
    left: 6rem;
    @include respond(phone) {
      left: 3rem;
    }
  }
  &__right-button {
    right: 6rem;
    @include respond(phone) {
      right: 3rem;
    }
  }

  &__index {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    & > * {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
    &-dot {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100%;
      border: none;
      background-color: rgba($color-black, 0.6);
      cursor: pointer;
      &--active {
        background-color: rgba($color-grey, 0.9);
      }
    }
  }
}
